#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
// #define base_layer 0
// #define lower 1
// #define raise 2
// #define lower_sub 3
// #define jb_func 4
// #define app_switch 5
// #define fn 6
// #define bluetooth 7
// #define game 8
// #define game_lower 9

#define base 0
#define lower 1
#define raise 2
#define game 3
#define gameLower 4
#define apper 5
#define functions 6
#define bluetooth 7
#define vimPrevSearch 8
#define vimNextSearch 9

/ {
  macros {
	VimPrevSearchLeftArrow: VimPrevSearchLeftArrow {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp LESS_THAN &kp ENTER>;
	};
	VimPrevSearchRightArrow: VimPrevSearchRightArrow {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp GREATER_THAN &kp ENTER>;
	};
	VimPrevSearchLeftBLKT: VimPrevSearchLeftBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp LBKT &kp ENTER>;
	};
	VimPrevSearchRightBLKT: VimPrevSearchRightBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp RBKT &kp ENTER>;
	};
	VimPrevSearchLeftMBLKT: VimPrevSearchLeftMBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp QUESTION>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp LBKT>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimPrevSearchRightMBLKT: VimPrevSearchRightMBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp QUESTION>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp RBKT>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimPrevSearchLeftParenc: VimPrevSearchLeftParenc {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp QUESTION>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp N9>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimPrevSearchRightParenc: VimPrevSearchRightParenc {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp QUESTION>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp N0>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};

	VimNextSearchLeftArrow: VimNextSearchLeftArrow {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&macro_tap &kp FSLH &kp LESS_THAN &kp ENTER>;
	};
	VimNextSearchRightArrow: VimNextSearchRightArrow {
		compatible = "zmk,behavior-macro";
		#binding-cells = <0>;
		bindings = <&macro_tap &kp FSLH &kp GREATER_THAN &kp ENTER>;
	};
	VimNextSearchLeftBLKT: VimNextSearchLeftBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp FSLH &kp LBKT &kp ENTER>;
	};
	VimNextSearchRightBLKT: VimNextSearchRightBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp FSLH &kp RBKT &kp ENTER>;
	};
	VimNextSearchLeftMBLKT: VimNextSearchLeftMBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp FSLH>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp LBKT>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimNextSearchRightMBLKT: VimNextSearchRightMBLKT {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp FSLH>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp RBKT>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimNextSearchLeftParenc: VimNextSearchLeftParenc {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp FSLH>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp N9>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};
	VimNextSearchRightParenc: VimNextSearchRightParenc {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings =
			<&macro_tap &kp FSLH>,
			<&macro_press &kp LSHIFT>,
			<&macro_tap &kp N0>,
			<&macro_release &kp LSHIFT>,
			<&macro_tap &kp ENTER>;
	};

	VimNextSearchFunction: VimNextSearchFunction {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp FSLH &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp ENTER>;
	};
	VimNextSearchAsync: VimNextSearchAsync {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp FSLH &kp A &kp S &kp Y &kp N &kp C &kp ENTER>;
	};
	VimNextSearchFn: VimNextSearchFn {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp FSLH &kp F &kp N &kp ENTER>;
	};

	VimPrevSearchFunction: VimPrevSearchFunction {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp ENTER>;
	};
	VimPrevSearchAsync: VimPrevSearchAsync {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp A &kp S &kp Y &kp N &kp C &kp ENTER>;
	};
	VimPrevSearchFn: VimPrevSearchFn {
		compatible = "zmk,behavior-macro";
		#binding-cells = < 0>;
		bindings = <&macro_tap &kp QUESTION &kp F &kp N &kp ENTER>;
	};

  AppSwitch_1:
    AppSwitch_1 {
      label = "AppSwitch_1";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N1>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

  AppSwitch_2:
    AppSwitch_2 {
      label = "AppSwitch_2";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N2>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

AppSwitch_3:
    AppSwitch_3 {
      label = "AppSwitch_3";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N3>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

AppSwitch_4:
    AppSwitch_4 {
      label = "AppSwitch_4";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N4>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

AppSwitch_5:
    AppSwitch_5 {
      label = "AppSwitch_5";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N5>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

AppSwitch_6:
    AppSwitch_6 {
      label = "AppSwitch_6";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N6>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

AppSwitch_7:
    AppSwitch_7 {
      label = "AppSwitch_7";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N7>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

    AppSwitch_8:
    AppSwitch_8 {
      label = "AppSwitch_8";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>,
      <&macro_tap &kp N8>,
      <&macro_release &kp LEFT_WIN &kp LSHIFT &kp LCTRL &kp LEFT_COMMAND &kp LALT>;
    };

WebDevModeMin:WebDevModeMin {
      label = "WebDevModeMin";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp J>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
WebDevModeMid:WebDevModeMid {
      label = "WebDevModeMid";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp K>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
CurrentLeft:CurrentLeft {
      label = "CurrentLeft";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp H>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
CurrentRight:CurrentRight {
      label = "CurrentRight";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp P>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
CurrentFullScr:CurrentFullScr {
      label = "CurrentFullScr";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp F>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
CurrentMinScr:CurrentMinScr {
      label = "CurrentMinScr";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp C>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };
CurrentMidScr: CurrentMidScr {
      label = "CurrentMidScr";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp V>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };

CurrentOtherHide: CurrentOtherHide {
      label = "CurrentOtherHide";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = 
      <&macro_press &kp LALT &kp LEFT_COMMAND>,
      <&macro_tap &kp M>,
      <&macro_release &kp LALT &kp LEFT_COMMAND>;
    };

  ArrowBracketsStart:
    ArrowBracketsStart {
      label = "ArrowBracketsStart";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp COMMA>,
      <&macro_release &kp LSHIFT>;
    };

  ArrowBracketsEnd:
    ArrowBracketsEnd {
      label = "ArrowBracketsEnd";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LSHIFT>, <&macro_tap &kp DOT>,
      <&macro_release &kp LSHIFT>;
    };

  CaretMoveToHome:
    CaretMoveToHome {
      label = "CaretMoveToHome";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp LEFT>,
      <&macro_release &kp LEFT_COMMAND>;
    };

  CaretMoveToEnd:
    CaretMoveToEnd {
      label = "CaretMoveToEnd";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp RIGHT>,
      <&macro_release &kp LEFT_COMMAND>;
    };

  DiviOpenLoadOut:
    DiviOpenLoadOut {
      label = "DiviOpenLoadOut";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_tap &kp TAB &kp H>;
    };
  DiviBuyMacro:
    DiviBuyMacro {
      label = "DiviBuyMacro";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_tap &kp SPACE &kp G>;
    };
  DiviOpenSocial:
    DiviOpenSocial {
      label = "DiviOpenSocial";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_tap &kp ESC &kp A &kp S &kp SPACE>;
    };

  OsSearch:
    OsSearch {
      label = "OsSearch";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LEFT_COMMAND>, <&macro_tap &kp SPACE>,
      <&macro_release &kp LEFT_COMMAND>;
    };

  ShadowPlaySS:
    ShadowPlaySS {
      label = "ShadowPlaySS";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp F1>,
      <&macro_release &kp LALT>;
    };
  ShadowPlayIR:
    ShadowPlayIR {
      label = "ShadowPlayIR";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_press &kp LALT>, <&macro_tap &kp F10>,
      <&macro_release &kp LALT>;
    };
  ValheimPrint:
    ValheimPrint {
      label = "ValheimPrint";
      compatible = "zmk,behavior-macro";
#binding-cells = < 0>;
      bindings = <&macro_tap &kp ENTER>, <&macro_tap &kp MINUS &kp MINUS>,
      <&macro_tap &kp ENTER>, <&macro_tap &kp ENTER>,
      <&macro_tap &kp FSLH &kp P &kp R &kp I &kp N &kp T &kp S &kp E &kp E &kp D &kp S>,
      <&macro_tap &kp ENTER>;
    };

	WezSwitchPaneRight: WezSwitchPaneRight{
	    compatible = "zmk,behavior-macro";
	    label = "WezSwitchPaneRight";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp B>
		, <&macro_release &kp LCTRL>
		, <&macro_tap &kp P &kp RIGHT>
		;
	};

	WezSwitchPaneLeft: WezSwitchPaneLeft{
	    compatible = "zmk,behavior-macro";
	    label = "WezSwitchPaneLeft";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp B>
		, <&macro_release &kp LCTRL>
		, <&macro_tap &kp P &kp LEFT>
		;
	};

	WezSwitchWS: WezSwitchWS{
	    compatible = "zmk,behavior-macro";
	    label = "WezSwitchWS";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp B>
		, <&macro_release &kp LCTRL>
		, <&macro_tap &kp S>
		;
	};

	WezNextTab: WezNextTab{
	    compatible = "zmk,behavior-macro";
	    label = "WezNextTab";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LEFT_COMMAND>
		, <&macro_tap &kp RIGHT>
		, <&macro_release &kp LEFT_COMMAND>
		;
	};

	WezPrevTab: WezPrevTab{
	    compatible = "zmk,behavior-macro";
	    label = "WezPrevTab";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LEFT_COMMAND>
		, <&macro_tap &kp LEFT>
		, <&macro_release &kp LEFT_COMMAND>
		;
	};

	VimSaveClose: VimSaveClose{
	    compatible = "zmk,behavior-macro";
	    label = "VimSaveClose";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp W &kp Q>;
	};

	VimSave: VimSave{
	    compatible = "zmk,behavior-macro";
	    label = "VimSave";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp W>;
	};

	VimClose:VimClose {
	    compatible = "zmk,behavior-macro";
	    label = "VimClose";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgMuteTog:PubgMuteTog {
	    compatible = "zmk,behavior-macro";
	    label = "p";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgKrStepLeft:PubgKrStepLeft {
	    compatible = "zmk,behavior-macro";
	    label = "PubgKrStepLeft";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgKrStepRight:PubgKrStepRight {
	    compatible = "zmk,behavior-macro";
	    label = "PubgKrStepRight";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgCarSeet1:PubgCarSeet1 {
	    compatible = "zmk,behavior-macro";
	    label = "PubgCarSeet1";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgCarSeet2:PubgCarSeet2 {
	    compatible = "zmk,behavior-macro";
	    label = "PubgCarSeet2";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgCarSeet3:PubgCarSeet3 {
	    compatible = "zmk,behavior-macro";
	    label = "PubgCarSeet3";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	PubgCarSeet4:PubgCarSeet4 {
	    compatible = "zmk,behavior-macro";
	    label = "PubgCarSeet4";
	    #binding-cells = <0>;
	    bindings = <&macro_tap &kp COLON &kp Q>;
	};

	VimCtrlU: VimCtrlU{
	    compatible = "zmk,behavior-macro";
	    label = "VimCtrlU";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp U>
		, <&macro_release &kp LCTRL>
		;
	};

	VimCtrlI: VimCtrlI{
	    compatible = "zmk,behavior-macro";
	    label = "VimCtrlI";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp I>
		, <&macro_release &kp LCTRL>
		;
	};

	VimCtrlO: VimCtrlO{
	    compatible = "zmk,behavior-macro";
	    label = "VimCtrlO";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp O>
		, <&macro_release &kp LCTRL>
		;
	};

	VimCtrlD: VimCtrlD{
	    compatible = "zmk,behavior-macro";
	    label = "VimCtrlD";
	    #binding-cells = <0>;
	    bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp D>
		, <&macro_release &kp LCTRL>
		;
	};

	};
};

/ {
	behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  base {
    compatible = "zmk,keymap";
    base {
	    bindings=<&none	&kp N1	&kp N2	&kp N3	&kp N4	&kp N5	&tog game					&tog bluetooth	&kp N6	&kp N7	&kp N8	&kp N9	&kp N0	&none
&none	&kp Q	&kp W	&kp E	&kp R	&kp T	&kp C_BRIGHTNESS_INC					&kp C_VOL_UP	&kp Y	&kp U	&kp I	&kp O	&none	&none
&kp CAPS	&kp A	&kp S	&lt lower D	&lt raise F	&kp G	&kp C_BRIGHTNESS_DEC	&kp LEFT_COMMAND	&none	&none	&kp RIGHT_COMMAND	&kp C_VOL_DN	&kp H	&lt raise J	&kp K	&kp L	&kp P	&kp FSLH
&kp LCTRL	&kp Z	&kp X	&kp C	&kp V	&kp B			&none	&none			&kp N	&lt apper M	&kp COMMA	&mt LEFT_COMMAND DOT	&kp FSLH	&kp LCTRL
&mo functions	&kp C_PLAY_PAUSE	&none	&none	&none		&mt LSHIFT SPACE	&mt LALT ESC	&none	&none	&kp ENTER	&kp BSPC		&kp TAB	&none	&none	&none	&mo functions>; };
    lower {bindings=<&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&none	&WezSwitchWS	&none	&none	&none	&none					&none	&none	&none	&VimSaveClose	&none	&none	&none
&none	&CaretMoveToHome	&kp LEFT	&none	&kp RIGHT	&none	&none	&OsSearch	&none	&none	&kp RIGHT_COMMAND	&none	&none	&kp DOWN	&VimSave	&kp UP	&CaretMoveToEnd	&none
&kp LCTRL	&none	&WezSwitchPaneLeft	&none	&WezSwitchPaneRight	&none			&none	&none			&none	&none	&VimClose	&kp LEFT_COMMAND	&none	&kp LCTRL
&none	&none	&none	&none	&none		&trans	&kp LALT	&none	&none	&kp ENTER	&kp DEL		&none	&none	&none	&none	&none>;
    };
    raise {bindings=<&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&kp TILDE	&kp UNDERSCORE	&kp MINUS	&kp PLUS	&kp AMPERSAND	&none					&none	&kp PIPE	&ArrowBracketsStart	&kp FSLH	&ArrowBracketsEnd	&kp BSLH	&none
&kp GRAVE	&kp EXCLAMATION	&kp AT_SIGN	&kp HASH	&kp DOUBLE_QUOTES	&kp COLON	&none	&kp LEFT_COMMAND	&none	&none	&kp RIGHT_COMMAND	&none	&kp SEMICOLON	&kp LEFT_PARENTHESIS	&kp ASTERISK	&kp RIGHT_PARENTHESIS	&kp EQUAL	&none
&none	&kp CARET	&none	&none	&kp SINGLE_QUOTE	&kp DLLR			&none	&none			&kp PRCNT	&kp LBKT	&none	&kp RBKT	&none	&none
&none	&none	&none	&none	&none		&mt LSHIFT SPACE	&mt ESC LALT	&none	&none	&kp ENTER	&kp BSPC		&none	&none	&none	&none	&none>;
    };
    game {
	    bindings=<&none	&kp ESC	&kp N1	&kp N2	&kp N3	&kp N4	&tog game					&none	&kp N6	&kp N7	&kp N8	&kp N9	&kp N0	&none
&kp LALT	&kp TAB	&kp Q	&kp W	&kp E	&kp R	&kp Y					&none	&kp Y	&kp U	&kp I	&kp O	&none	&none
&kp T	&kp LSHIFT	&kp A	&kp S	&kp D	&kp F	&kp G	&kp B	&none	&none	&none	&none	&kp H	&kp J	&kp K	&kp L	&kp P	&none
&none	&kp LCTRL	&kp Z	&kp X	&kp C	&kp V			&none	&none			&kp N	&kp M	&kp COMMA	&kp DOT	&kp FSLH	&none
&none	&ShadowPlaySS	&ShadowPlayIR	&none	&kp N5		&kp SPACE	&mo gameLower	&none	&none	&kp ENTER	&kp BSPC		&none	&none	&none	&none	&none>;
    };
    gameLower {bindings=<&none	&kp F1	&kp F2	&kp F3	&kp F4	&kp F5	&none					&none	&none	&none	&none	&none	&none	&none
&none	&kp LALT	&kp N6	&kp N7	&kp N8	&kp ENTER	&none					&none	&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
&none &kp H	&kp J	&kp K	&kp L	&kp N			&none	&none			&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none		&none	&none	&none	&none	&none	&none		&none	&none	&none	&none	&none>;
    };
    apper {
	    bindings=<&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&AppSwitch_8	&CurrentLeft	&none	&CurrentRight	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&AppSwitch_1	&AppSwitch_2	&AppSwitch_3	&AppSwitch_4	&AppSwitch_5	&none	&none	&none	&none	&none	&none	&none	&none	&CurrentFullScr	&CurrentMidScr	&CurrentMinScr	&none
&none	&none	&CurrentOtherHide	&none	&AppSwitch_7	&AppSwitch_6			&none	&none			&none	&none	&WebDevModeMid	&WebDevModeMin	&none	&none
&none	&none	&none	&none	&none		&none	&none	&none	&none	&none	&none		&none	&none	&none	&none	&none>;
    };
    functions {
	    bindings=<&none	&kp F1	&kp F2	&kp F3	&kp F4	&kp F5	&none					&none	&kp F6	&kp F7	&kp F8	&kp F9	&kp F10	&kp F11
&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&kp F12
&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none	&none			&none	&none			&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none		&none	&none	&none	&none	&none	&none		&none	&none	&none	&none	&none>;
    };
    bluetooth {
	    bindings=<&none	&none	&none	&none	&none	&none	&none					&tog bluetooth	&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&none	&bt BT_PRV	&none	&bt BT_NXT	&none	&none	&none	&none	&none	&none	&none	&kp N6	&kp N7	&kp N8	&kp N9	&kp N0	&none
&none	&none	&bt BT_CLR	&bt BT_CLR_ALL	&bootloader	&none			&none	&none			&none	&none	&none	&none	&none	&none
&none	&none	&none	&none	&none		&none	&none	&none	&none	&none	&none		&none	&none	&none	&none	&none>;
    };
    vimPrevSearch {bindings=<&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&none	&VimPrevSearchRightBLKT	&VimPrevSearchRightMBLKT	&VimPrevSearchRightParenc	&none	&none					&none	&none	&VimPrevSearchFunction	&none	&none	&tog vimPrevSearch	&none
&none	&VimPrevSearchLeftArrow	&VimPrevSearchLeftBLKT	&VimPrevSearchLeftMBLKT	&VimPrevSearchLeftParenc	&VimPrevSearchRightArrow	&none	&none	&none	&none	&none	&none	&none	&VimPrevSearchAsync	&none	&none	&none	&none
&none	&none	&none	&none	&none	&none			&none	&none			&none	&VimPrevSearchFn	&none	&none	&none	&none
&none	&none	&none	&none	&none		&none	&tog vimPrevSearch	&none	&none	&none	&none		&none	&none	&none	&none	&none>;};
    vimNextSearch {bindings=<&none	&none	&none	&none	&none	&none	&none					&none	&none	&none	&none	&none	&none	&none
&none	&none	&VimNextSearchRightBLKT	&VimNextSearchRightMBLKT	&VimNextSearchRightParenc	&none	&none					&none	&none	&VimNextSearchFunction	&none	&none	&none	&none
&none	&VimNextSearchRightArrow	&VimNextSearchLeftBLKT	&VimNextSearchLeftMBLKT	&VimNextSearchLeftParenc	&VimNextSearchLeftArrow	&none	&none	&none	&none	&none	&none	&none	&VimNextSearchAsync	&none	&none	&none	&tog vimNextSearch
&none	&none	&none	&none	&none	&none			&none	&none			&none	&VimNextSearchFn	&none	&none	&none	&none
&none	&none	&none	&none	&none		&none	&tog vimNextSearch	&none	&none	&none	&none		&none	&none	&none	&none	&none>;};
  };
};
